@import '@/src/styles/mixins.scss';

.mi-toast {
  $prefix: 'mi-toast';
  .#{$prefix}__wrapper {
    &-enter {
      opacity: 1;
    }

    &-enter-active {
      opacity: 1;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
      transition: opacity 500ms;
    }
  }
  .#{$prefix}__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-reverse);
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    z-index: 20;
    box-sizing: border-box;
    text-align: center;
    top: 50%;
    min-width: 318px;
    max-width: 520px;
    background: rgba(25, 25, 25, 0.8);
    box-shadow: 0 4px 8px 0 rgba(25, 25, 25, 0.08);
    border-radius: 11px;
    padding: 24px 32px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;

    @include responsive((
      'font-size': (v1(12),  null, null, null, null),
      'padding': (v1(10) v1(16), null, null, null, null),
      'min-width': (v1(158), null, null, null, null),
      'max-width': (v1(240), null, null, null, null),
      'border-radius': (v1(6), null, null, null, null),
      'box-shadow': (0 v1(3) v1(6) 0 rgba(25, 25, 25, 0.08), null, null, null, null)
    ));
  }

  .#{$prefix}__content {
    word-wrap: break-word;
    width: 100%;
  }
}
